article {
    user-select: none;
    cursor: pointer;
    height: 200px;
    width: 100px;
    aspect-ratio: 1 / 2;

    img {
        //display: none;
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100%;

        &.enlarged {
            transform: scale(1.4);
        }
    }
}